{% extends "layouts/base-fullscreen.html" %}
{% load static %}
{% block title %} | Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
              <div class="card col-12 col-md-5 text-white bg-dark py-5 order-xs-1">
                <div class="card-body text-center">
                  <div>
                    <h3>
                      Resy Bot Application
                    </h3>
                 </div>
                </div>
              </div>
              <div class="card col-12 col-md-7 p-4 mb-0 order-xs-2">
                <div class="card-body">
                  <h1>Login</h1>
                  <p class="text-medium-emphasis">
                    {% if msg %}
                      {{ msg | safe }}
                    {% else %}              
                      Login credentials
                    {% endif %}                      
                  </p>

                  <form role="form" method="post" action="">

                    {% csrf_token %} 

                        <div class="input-group mb-3"><span class="input-group-text">
                            <svg class="icon">
                              <use xlink:href="{% static 'assets/vendors/coreui/icons/svg/free.svg' %}#cil-user"></use>
                            </svg></span>
                          {{ form.username }}
                        </div>
                        <div class="input-group mb-4"><span class="input-group-text">
                            <svg class="icon">
                              <use xlink:href="{% static 'assets/vendors/coreui/icons/svg/free.svg' %}#cil-lock-locked"></use>
                            </svg></span>
                          {{ form.password }}
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <button class="btn btn-primary px-4" type="submit" name="login">Login</button>
                          </div>
                          {% comment %} <div class="col-6 text-end">
                            <a href="{% url 'register' %}" class="btn btn-link px-0" type="button">Register</a>
                          </div> {% endcomment %}
                        </div>

                  </form> 

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
          <div class="card col-12">
              &copy;2024
          </div>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
