.container {
    background-color: white;
    /* color: green; */
}
h2 {
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid;
}
h3 {
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid;
}

table, tr, th, td {
    border: 1px solid gray;
    background-color: whitesmoke;
    color: black;
}
td > a {
    text-decoration: underline;
    color: darkblue;

}

td.file-not-exist {
    background-color: cornsilk;
}

.summary {
    color: red;
}
.navbar {
    border: solid 1px bisque;
}
nav a.active {
    border: solid 1px black;
    background-color: burlywood;
}
