{% load static %}
  {% if botcheckruns %}
    {% for d in botcheckruns %}
    <div class="col-12 col-lg-3 mt-3">
      <div class="card border-primary mb-3">
         {% comment %} <form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-delete="{% url 'botui_remove_botcheckrun' pk=d.id %}" hx-confirm="Remove Bot Running?"><button>Delete</button></form> {% endcomment %}
         <div class="text-white text-center {{ d.bgcolor }}"><strong>{{ d.pidstatus }}</strong></div>
        <div class="row no-gutters px-3 py-2">
            <div class="col-sm-12 mt-3">
              <div style="border:1px solid black;height:220px;overflow:scroll;">
                <p class="px-2">
                {% comment %} Username: <strong>{{ d.username }}</strong><br/> {% endcomment %}
                Base URL: <strong>{{ d.url }}</strong><br/> 
                Start Date: <strong>{{ d.startdate|date:"Y-m-d" }}</strong><br/>
                End Date: <strong>{{ d.enddate|date:"Y-m-d" }}</strong><br/>
                Time: <strong>{{ d.timewanted|time:"H:i" }}</strong><br/>
                Hours Before After: <strong>{{ d.hoursba }}</strong><br/>
                Seats: <strong>{{ d.seats }}</strong><br/>
                Reservation Type: <strong>{{ d.reservation_name }}</strong><br/>
                Non Stop Running: <strong>{{ d.nonstop }}</strong><br/>
                Seconds Between Retries: <strong>{{ d.retrysec }}</strong><br/>
                Min Idle Time (Sec.): <strong>{{ d.minidle }}</strong><br/>
                Max Idle Time (Sec.): <strong>{{ d.maxidle }}</strong><br/>
                Min Between Proxy (min.): <strong>{{ d.minproxy }}</strong><br/>
                Max Between Proxy (min.): <strong>{{ d.maxproxy }}</strong><br/>
                Send Message: <strong>{{ d.sendmessage }}</strong><br/>
                Mentions to: <strong>{{ d.mentionto }}</strong><br/>
                Account: <strong>{{ d.account_email }}</strong><br/>
                Proxy: <strong>{{ d.multiproxy_name }}</strong><br/>
                PID: <strong>{{ d.pid }}</strong><br/>
                ID: <strong>{{ d.id }}</strong><br/>
                {% comment %} Index: <strong>{{ d.creator }}</strong><br/>
                Uraian: <strong>{{ d.description|linebreaksbr}}</strong><br/> {% endcomment %}
                </p>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-lg-3 px-1">
                <form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'><button class="w-100 btn btn-sm btn-warning" hx-delete="{% url 'botui_remove_botcheckrun' pk=d.id %}" hx-confirm="Remove Bot Running?">Delete</button></form>

              </div>
              <div class="col-lg-3 px-1">
                <form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'><button class="w-100 btn btn-sm btn-primary" hx-get="{% url 'botui_stop_botcheckrun' pk=d.id %}" hx-confirm="Stop Bot Running?">Stop</button></form>
              </div>
              <div class="col-lg-3 px-0">
                <button type="button" class="btn btn-sm btn-secondary"  hx-get="{% url 'botui_view_checkbookrun_log' pk=d.id %}" hx-target="#dialog">Show Log</button>

              </div>
              <div class="col-lg-3 px-0">
                <a href="{% url 'botui_download_checkbookrun_log' pk=d.id %}" target="_new"><button type="button" class="btn btn-sm btn-secondary">Dwn. Log</button></a>

              </div>

            </div>
        </div>
      </div>
    
    {% endfor %}
{% endif %}
